@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&family=Chelsea+Market&family=Freckle+Face&family=Love+Ya+Like+A+Sister&display=swap');

$body-bg-color: #9c663f;
$recipe-bg-color: #ffdead;
$input-bg: #f2e5db;
// $second-secondary: #009e1d;
$lines: #f18205;
$button-bg: #9d9996;
$black: #000;

body {
  align-content: center;
  align-items: center;
  background-color: $body-bg-color;
  color: $black;
  display: flex;
  flex-direction: column;
  font-family: monospace, sans-serif;
  margin: 10px;
  padding: 10px;
}

button {
  background-color: $button-bg;
  border-radius: 10px;
  border-style: outset;
  margin: 3px;
}

form {
  padding: 5px;
}

input {
  background-color: $input-bg;
  border: 1px solid $lines;
  border-radius: 5px;
  margin: 2px;
}

textarea {
  background-color: $input-bg;
  border: 1px solid $lines;
  border-radius: 5px;
}

.top-stuff {
  align-items: center;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 70px;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Love Ya Like A Sister', cursive, monospace, sans-serif;
}

.app-name {
  font-family: 'Freckle Face', cursive;
}

.each-response {
  background-color: $recipe-bg-color;
  border: 1px solid $lines;
  border-radius: 6px;
  border-width: 100%;
  font-family: monospace, sans-serif;
  padding: 10px;
}

.recipe-display-header {
  font-family: 'Love Ya Like A Sister', cursive, monospace, sans-serif;
  font-size: 30px;
}

.modal-header {
  background-color: $body-bg-color;
  font-family: 'Love Ya Like A Sister', cursive, monospace, sans-serif;
}

.modal-body {
  background-color: $recipe-bg-color;
}
